---
apiVersion: node.eks.aws/v1alpha1
kind: NodeConfig
spec:
  cluster:
    name: ${name}
    apiServerEndpoint: ${api_endpoint}
    certificateAuthority: ${certificate_authority}
    cidr: ${cidr}
  %{~ if len(kubelet_flags) > 0 ~}
  kubelet:
    flags:
    %{~ for flag in kubelet_flags }
    - ${flag}
    %{~ endfor }
  %{~ end if }
