#!/bin/bash
%{~ if xrd_bootstrap }
HUGEPAGES_GB=${hugepages_gb} ISOLATED_CORES=${isolated_cores} /etc/xrd/bootstrap.sh
%{~ endif }
/etc/eks/bootstrap.sh ${cluster_name} --kubelet-extra-args '${kubelet_extra_args}'
${additional_user_data}
reboot
